/* Styles pour le conteneur du formulaire */
.login-container {
  width: 100%;
  max-width: 500px; /* Largeur maximale du formulaire */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box; /* Inclure la padding dans la largeur totale */
  margin: 20px auto; /* Centrage horizontal */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Titre du formulaire */
.login-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Styles des champs de saisie */
.login-input {
  width: 100%; /* Prendre toute la largeur du conteneur */
  max-width: 400px; /* Largeur maximale */
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  box-sizing: border-box; /* Inclure padding et border dans la largeur */
}

/* Bouton de connexion */
.login-button {
  width: 100%;
  max-width: 400px; /* Largeur maximale */
  padding: 10px;
  background-color: #071a2e;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
}

/* Styles pour le lien "Mot de passe oublié" */
.forgot-password {
  color: #071a2e;
  margin-top: 10px;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* Modale de confirmation */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.modal-close-button {
  background-color: #052950;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.modal-close-button:hover {
  background-color: #031c37;
}

/* Media Queries pour la Responsivité */

/* Mobile first : Le formulaire prend toute la largeur possible */
@media (max-width: 600px) {
  .login-container {
    padding: 20px;
  }

  .login-title {
    font-size: 20px;
  }

  .login-input,
  .login-button {
    width: 100%; /* Utiliser toute la largeur disponible */
    max-width: 100%;
  }

  .modal-content {
    width: 90%;
  }
}

/* Tablette et écrans plus grands */
@media (min-width: 601px) {
  .login-container {
    padding: 30px;
  }

  .login-title {
    font-size: 24px;
  }

  .login-input,
  .login-button {
    width: 100%;
    max-width: 400px;
  }
}

/* Ordinateurs de bureau et grands écrans */
@media (min-width: 1024px) {
  .login-container {
    padding: 40px;
  }
}
